---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import Layout from "../layouts/Layout.astro";

interface Props {
    title: string;
    slug: string;
    body: Document;
}

const { slug } = Astro.params;

const entries = await contentfulClient.getEntries<Props>({
    content_type: "page",
    "fields.slug": slug === undefined ? "homepage" : slug,
    limit: 1
});

const entry = entries.items?.[0];

const { body, title } = entry.fields;
---

<Layout title={title}>
    <div set:html={documentToHtmlString(body)} />
</Layout>
