---
import type { Props } from "astro";
import { contentfulClient } from "../../lib/contentful";
import Container from "../atoms/Container.astro";
import { MobileNavigation } from "../molecules/MobileNavigation";

const entries = await contentfulClient.getEntries<Props>({
    content_type: "headerAndFooter",
    limit: 1
});

const { mainMenu } = entries.items?.[0].fields;

interface MenuItemType {
    title: string;
    slug: string;
}

const menuItems: Array<MenuItemType> = (mainMenu as any)
    .filter(({ fields }: any) => !!fields?.title && !!fields?.slug)
    .filter(({ fields }: any) => fields.slug !== "homepage")
    .map(({ fields: { title, slug } }: any) => ({
        title,
        slug
    }));
---

<header class="bg-blue-50 py-4 w-full">
    <Container className="hidden md:flex justify-between">
        <a href="/" class="font-bold text-xl uppercase">Astro-contentful</a>
        <nav class="">
            <ul class="flex gap-4">
                {
                    menuItems.map(({ slug, title }) => (
                        <li class="font-bold text-orange-800">
                            <a href={`/${slug === "homepage" ? "" : slug}`}>{title}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </Container>
    <Container className="block md:hidden">
        <nav class="flex justify-between">
            <a href="/" class="font-bold text-xl uppercase">Astro-contentful</a>
            <MobileNavigation client:visible items={menuItems} />
        </nav>
    </Container>
</header>
